*.Nat*
*.Termina*
*/codegentemp/*
*/Generated_Source/*
*/ARM_GCC*/*
*/Cortex*/*
*/Debug/
*/Release/
*/Export/
*/*_datasheet.pdf
*/*_timing.html
*/*.cycdx
*/*.cyfit
*/*.rpt
*/*.svd
*/*.log
*/*.zip
*/*.cywrk.*
*/*.cyprj.*
*/secret.h
*/belonging/secret.h
.DS_Store
